.FormErrorMessage {
    padding: 0.5rem 0rem;

    .MuiPaper-root {
        padding: 1px 0px;
    }
    .MuiAlert-icon{
        padding: 7px 0px 7px 7px;
    }
    .css-1pxa9xg-MuiAlert-message{
        padding: 8px 5px 0px 0px;
    }
}