.input-warrper {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: '100%';



    .input-style {
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
    }


}

